*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-style: normal;
  color: #2D3033;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 42px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .active {
  background-color: #eb8b8d;
}
.header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.header .nav {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.header .nav__link {
  margin: 0 25px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.2s linear;
  color: #fff;
  cursor: pointer;
}
.header .nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: #F4BF87;
  transition: opacity 0.2s linear;
}
.header .nav__link:hover {
  color: #F4BF87;
}
.header .nav__link:hover:after {
  opacity: 1;
}
.header .nav__link--search {
  margin: 0 17px;
  display: inline-block;
  cursor: pointer;
}
.header .nav__burger-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  display: none;
  width: 30px;
  padding: 10px 0;
}
.header .nav__burger-menu .burger-menu__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: -5px;
  margin: auto;
}
.header .nav__burger-menu .burger-menu__item:before, .header .nav__burger-menu .burger-menu__item:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #fff;
  left: 0;
  z-index: 1;
}
.header .nav__burger-menu .burger-menu__item:before {
  top: -8px;
}
.header .nav__burger-menu .burger-menu__item:after {
  bottom: -8px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner/banner.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}
.banner .banner__inner {
  width: 100%;
  padding-top: 177px;
  text-align: center;
}
.banner .banner__subtitle {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  color: #fff;
}
.banner .banner__title {
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  text-transform: uppercase;
  color: #fff;
}
.banner .banner__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 44px auto 74px;
  background-color: #fff;
}
.banner .btn {
  border: none;
  padding: 18px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 4px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.banner .btn:hover {
  color: #F4BF87;
  background-color: #fff;
}
.banner .btn:active {
  color: #F4BF87;
  background-color: #fff;
  border: 4px solid #E4BE8D;
}
.banner .banner__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
}
.banner .slider__item {
  width: 270px;
  position: relative;
  padding: 20px 0;
  margin-left: 30px;
  border-top: 4px solid #F9EFCF;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #F9EFCF;
}
.banner .slider__item .number {
  margin-left: 0;
}
.banner .active {
  color: #fff;
  border-top: 4px solid #fff;
}
.banner .active:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 4px;
  top: -4px;
  left: 0;
  z-index: 1;
  background-color: #F38281;
}
.banner .slider__item__num {
  font-size: 36px;
  font-weight: 700;
}

.section {
  padding: 80px 0 100px;
}
.section .section__header {
  width: 100%;
  max-width: 1186px;
  margin: 0 auto 40px;
  text-align: center;
}
.section .section__subtitle {
  margin-bottom: 30px;
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.section .section__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.section .section__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 30px auto 30px;
  background-color: #F38281;
}
.section .section__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.section .about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section .about-us__item {
  width: 370px;
  position: relative;
  background: #95E1D3;
}
.section .about-us__item:hover .about-us__img {
  transform: translate3d(-10px, -10px, 0);
}
.section .about-us__item:hover .about-us__img img {
  opacity: 0.1;
}
.section .about-us__item:hover .about-us__text {
  opacity: 1;
}
.section .about-us__item:hover .about-us__icon {
  opacity: 1;
}
.section .about-us__item .about-us__img {
  width: 100%;
  max-width: 370px;
  height: auto;
}
.section .about-us__img {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  transition: transform 0.2s linear;
}
.section .about-us__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.section .about-us__icon {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
  opacity: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.section .about-us__text {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
  opacity: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.statistical-date {
  background-color: rgb(149, 225, 211);
}
.statistical-date .statistics {
  display: flex;
  flex-wrap: wrap;
}
.statistical-date .statistics .statistics__item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #fff;
  text-align: center;
}
.statistical-date .statistics .statistics__item:last-child {
  border-right: 1px solid #fff;
}
.statistical-date .statistics .statistics__count {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
}
.statistical-date .statistics .statistics__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.services {
  margin: 80px 0 140px;
  display: flex;
  flex-wrap: wrap;
}
.services .services__item {
  flex: 1 1 0;
  position: relative;
  padding-left: 90px;
  padding-right: 20px;
}
.services .services__icon {
  position: absolute;
  left: 0;
  top: -15px;
  z-index: 1;
}
.services .services__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services .services__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services__2 {
  display: flex;
  flex-wrap: wrap;
}
.services__2 .services__item {
  flex: 1 1 0;
  padding-left: 90px;
  padding-right: 20px;
  position: relative;
}
.services__2 .services__icon {
  position: absolute;
  left: 0;
  top: -15px;
  z-index: 1;
}
.services__2 .services__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services__2 .services__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.section--devices {
  background-image: url(../images/banner/banner2.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 868px;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.section--devices:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
}
.section--devices .devices {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.section--devices .devices .devices__item {
  display: block;
}
.section--devices .devices .devices__item--ipad1 {
  position: absolute;
  position: absolute;
  right: 0;
  z-index: 1;
}
.section--devices .devices .devices__item--ipad2 {
  position: absolute;
  top: 20px;
  right: 260px;
  right: 260px;
  z-index: -1;
}
.section--devices .devices .devices__item--iphone {
  position: absolute;
  top: 240px;
  right: 170px;
  z-index: 1;
  z-index: 1;
}

.about-service {
  display: flex;
}
.about-service .about-service__item {
  width: 50%;
  margin-right: 30px;
}
.about-service .about-service__item:last-child {
  margin-right: 0;
}
.about-service .about-service__item .about-service__item__img {
  width: 100%;
  height: auto;
}
.about-service .accordion__item {
  margin-bottom: 22px;
  border: 1px solid #C6CBCD;
}
.about-service .accordion__item.active .accordion__content {
  display: block;
}
.about-service .accordion__header {
  padding: 30px 100px 30px 100px;
  position: relative;
  border-bottom: 1px solid #C6CBCD;
  cursor: pointer;
}
.about-service .accordion__header .accordion__icon {
  position: absolute;
  top: 50%;
  left: 22px;
  z-index: 1;
  transform: translateY(-50%);
}
.about-service .accordion__header .accordion__about {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
}
.about-service .accordion__header i {
  position: absolute;
  top: 45%;
  left: 92%;
  z-index: 1;
  transform: translateY(-45%);
  border: solid #C6CBCD;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
}
.about-service .accordion__header i:hover {
  filter: brightness(50%);
  transition: brightness 0.2s linear;
}
.about-service .accordion__header .up {
  transform: rotate(-135deg);
}
.about-service .accordion__header .down {
  transform: translateY(-50%) rotate(45deg);
}
.about-service .accordion__content {
  display: none;
  padding: 15px 81px 15px 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
}

.section--gray {
  background-color: #F8F8F8;
  padding: 42px 0 52px;
}
.section--gray .reviews {
  padding: 0 110px;
  display: flex;
  position: relative;
}
.section--gray .reviews__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.section--gray .reviews__btn:hover {
  filter: brightness(50%);
  transition: brightness 0.2s linear;
}
.section--gray .reviews__btn:after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.section--gray .reviews__btn--prev {
  left: 0;
  transform: rotate(-135deg);
}
.section--gray .reviews__btn--next {
  right: 0;
  transform: rotate(45deg);
}
.section--gray .reviews__item {
  padding-left: 200px;
  position: relative;
}
.section--gray .reviews__item .reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.section--gray .reviews__item .reviews__text {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
  color: #A9AFB1;
}
.section--gray .reviews__item .reviews__author {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000;
}
.section--gray .reviews__item .reviews__author:before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 3px;
  vertical-align: middle;
  margin-right: 56px;
  background-color: #F38281;
}

.team-card {
  display: flex;
  justify-content: space-between;
}
.team-card .team__item {
  width: 370px;
}
.team-card .team__item:hover .team__img {
  transform: translate3d(-10px, -10px, 0);
}
.team-card .team__item:hover .team__img img {
  opacity: 0.1;
}
.team-card .team__item .team__inner {
  position: relative;
}
.team-card .team__item .team__inner .team__img {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  transition: transform 0.2s linear;
}
.team-card .team__item .team__inner .team__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.team-card .team__item .team__inner .team__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
  opacity: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.team-card .team__item .team__inner .team__text:hover {
  opacity: 1;
}
.team-card .team__item .team__inner .team__text .social {
  display: flex;
  justify-content: center;
}
.team-card .team__item .team__inner .team__text .social .social__item {
  text-decoration: none;
  margin-right: 1px;
}
.team-card .team__item .team__inner .team__text .social .social__item:last-child {
  margin-right: 0;
}
.team-card .team__item .team__info {
  margin-top: 30px;
  text-align: center;
}
.team-card .team__item .team__info .team__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.team-card .team__item .team__info .team__prof {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos .logos__item:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: brightness 0.2s linear;
}

.works {
  display: flex;
}
.works .works__col {
  flex: 1 1 0;
}
.works .works__col .works__item {
  position: relative;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}
.works .works__col .works__item:hover .works__img {
  opacity: 0.1;
}
.works .works__col .works__item:hover .works__info {
  opacity: 1;
}
.works .works__col .works__item .works__img {
  display: block;
  width: 100%;
  transition: opacity 0.2s linear;
}
.works .works__col .works__item .works__info {
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  transform: translate3d(0, -50%, 0);
}
.works .works__col .works__item .works__info .works__icon {
  margin-bottom: 65px;
}
.works .works__col .works__item .works__info .works__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.works .works__col .works__item .works__info .works__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.reviews {
  padding: 0 110px;
  display: flex;
  position: relative;
}
.reviews .reviews__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.reviews .reviews__btn:hover {
  filter: brightness(50%);
  transition: brightness 0.2s linear;
}
.reviews .reviews__btn:after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.reviews .reviews__btn--prev {
  transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.reviews .reviews__btn--next {
  transform: rotate(45deg);
  transform: rotate(45deg);
}
.reviews .reviews__item {
  padding-left: 200px;
  position: relative;
}
.reviews .reviews__item .reviews__photo {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.reviews .reviews__item .reviews__text {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
  color: #A9AFB1;
}
.reviews .reviews__item .reviews__author {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000;
}
.reviews .reviews__item .reviews__author:before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 3px;
  vertical-align: middle;
  margin-right: 56px;
  background-color: #F38281;
}

.section--clients {
  background-image: url(../images/banner/banner3.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 923px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.section--clients:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
}
.section--clients .clients {
  display: flex;
  flex-wrap: wrap;
  margin: 65px 0 170px;
}
.section--clients .clients .clients__item {
  width: 50%;
  margin-bottom: 60px;
  padding: 0 45px 0 175px;
  position: relative;
}
.section--clients .clients .clients__item .clients__photo {
  width: 130px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.section--clients .clients .clients__item .clients__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.section--clients .clients .clients__item .clients__prof {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.section--clients .clients .clients__item .clients__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.section--clients .clients .clients__item .clients__text:before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  margin: 32px 0;
  background-color: #F38281;
}

.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog .blog__item {
  width: 370px;
  margin-right: 30px;
}
.blog .blog__item:last-child {
  margin-right: 0;
}
.blog .blog__item .blog__header {
  position: relative;
  margin-bottom: 30px;
}
.blog .blog__item .blog__header .blog__photo {
  display: block;
  width: 100%;
  height: auto;
}
.blog .blog__item .blog__header .blog__date {
  position: absolute;
  bottom: 25px;
  left: -15px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  padding: 5px 15px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #95E1D3;
}
.blog .blog__item .blog__header .blog__date .blog__date-day {
  font-size: 36px;
  font-weight: 700;
}
.blog .blog__item .blog__content .blog__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
.blog .blog__item .blog__content .blog__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.blog .blog__item .blog__footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.blog .blog__item .blog__footer .footer-stat__item1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}
.blog .blog__item .blog__footer .footer-stat__item2 {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
  height: 32px;
  width: 32px;
  padding-top: 10px;
}

.section--map {
  background-image: url(../images/map/mapa.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 231px;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.section--map:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
}
.section--map .map {
  text-align: center;
  text-align: center;
}
.section--map .map .map__icon {
  padding-bottom: 5px;
}
.section--map .map .map__text a {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  color: #F38281;
}
.section--map .map .map__text a:after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 30px auto 30px;
  background-color: #F38281;
}

.footer {
  padding-top: 42px;
  background-color: #F8F8F8;
}
.footer .footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 42px;
}
.footer .footer__inner .footer__com--first {
  width: 370px;
}
.footer .footer__inner .footer__com--first .footer__logo {
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
  cursor: pointer;
}
.footer .footer__inner .footer__com--first .footer__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-header {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  text-transform: uppercase;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-header b {
  font-size: 36px;
  font-style: normal;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-header span {
  font-weight: 700;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-header:after {
  content: "";
  display: block;
  width: 370px;
  height: 1px;
  margin: 20px 0;
  background-color: #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-content {
  margin-bottom: 45px;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.footer .footer__inner .footer__com--first .footer__social .footer__social-content .social-content__item {
  margin-right: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe {
  width: 100%;
  min-width: 370px;
  display: flex;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input {
  width: 60%;
  padding: 16px 8px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input::-moz-placeholder {
  color: #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input::placeholder {
  color: #C6CBCD;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input:focus {
  outline: none;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__button {
  width: 40%;
  height: 55px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #95E1D3;
  border: 0;
  padding: 13px;
  cursor: pointer;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__button:hover {
  background-color: #87D2C4;
}
.footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__button:active {
  background-color: #5C958A;
}
.footer .footer__inner .footer__com--second {
  width: 470px;
}
.footer .footer__inner .footer__com--second .footer__title {
  margin-top: 35px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer .footer__inner .footer__com--second .blogs .blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content {
  padding-left: 30px;
}
.footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content a:hover {
  text-decoration: underline;
}
.footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content div {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.footer .footer__inner .footer__com--third {
  width: 270px;
}
.footer .footer__inner .footer__com--third .footer__title {
  margin-top: 35px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer .footer__inner .footer__com--third .instagram {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer .footer__inner .footer__com--third .instagram .instagram__item {
  flex: 1 1 0;
  width: 90px;
  height: 88px;
}
.footer .footer__inner .footer__com--third .instagram .instagram__item img {
  display: block;
}
.footer .footer__inner .footer__com--third .instagram__about a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #2D3033;
}
.footer .copyright {
  padding: 20px 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
.footer .copyright:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px auto;
  background-color: #C6CBCD;
}

@media only screen and (max-device-width: 1024px) {
  .nav a {
    font-size: 13px;
    line-height: 15px;
  }
  .banner .banner__inner {
    margin: 0 auto;
    padding-top: 174px;
    width: 100%;
    max-width: 790px;
  }
  .banner .banner__inner .banner__subtitle {
    font-size: 48px;
    line-height: 70px;
  }
  .banner .banner__inner .banner__title {
    font-size: 96px;
    line-height: 117px;
  }
  .banner .banner__inner .banner__title:after {
    width: 115px;
    height: 4px;
    margin: 25px auto 50px;
  }
  .banner .banner__inner .btn {
    border: none;
    padding: 15px 70px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 4px solid #fff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
  }
  .banner .banner__inner .btn:hover {
    color: #F4BF87;
    background-color: #fff;
  }
  .banner .banner__inner .btn:active {
    color: #F4BF87;
    background-color: #fff;
    border: 4px solid #E4BE8D;
  }
  .banner .banner__slider {
    margin-top: 78px;
  }
  .banner .banner__slider .slider__item {
    width: 233px;
  }
  .banner .banner__slider .slider__item .slider__item__num {
    font-size: 24px;
    line-height: 28px;
  }
  .section {
    padding: 50px 0 60px;
  }
  .section .section__header .section__subtitle {
    font-size: 24px;
    line-height: 35px;
  }
  .section .section__header .section__title {
    font-size: 24px;
    line-height: 28px;
  }
  .section .section__header .section__title:after {
    width: 148px;
    margin: 20px auto 20px;
  }
  .section .section__header .section__text {
    font-size: 14px;
    line-height: 16px;
  }
  .section .about-us__item {
    width: 315px;
  }
  .section .about-us__item:hover .about-us__img {
    transform: translate3d(-10px, -10px, 0);
  }
  .section .about-us__item:hover .about-us__img img {
    opacity: 0.1;
  }
  .section .about-us__item:hover .about-us__text {
    opacity: 1;
    transform: translate3d(-10px, -10px, 0);
  }
  .section .about-us__item:hover .about-us__icon {
    opacity: 1;
    transform: translate3d(-10px, -10px, 0);
  }
  .section .about-us__img {
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    margin: 0 10px;
    transition: transform 0.2s linear;
  }
  .section .about-us__img img {
    max-width: 317px;
    height: 288px;
  }
  .section .about-us__text {
    font-size: 18px;
    line-height: 21px;
  }
  .statistical-date .statistics .statistics__item {
    padding: 50px 15px;
  }
  .statistical-date .statistics .statistics__count {
    font-size: 48px;
    line-height: 56px;
  }
  .statistical-date .statistics .statistics__text {
    font-size: 22px;
    line-height: 26px;
  }
  .services {
    margin: 60px 0 70px;
  }
  .services .services__icon {
    width: 53px;
  }
  .services .services__name {
    font-size: 18px;
    line-height: 21px;
  }
  .services .services__about {
    font-size: 14px;
    line-height: 16px;
  }
  .services__2 .services__icon {
    width: 53px;
  }
  .services__2 .services__name {
    font-size: 18px;
    line-height: 21px;
  }
  .services__2 .services__about {
    font-size: 14px;
    line-height: 16px;
  }
  .section--devices {
    height: 588px;
  }
  .section--devices .devices .devices__item--ipad1 {
    max-width: 746px;
    position: absolute;
    top: 0;
    right: 120px;
    z-index: 1;
  }
  .section--devices .devices .devices__item--ipad2 {
    max-width: 426px;
    height: 346px;
    position: absolute;
    top: -10px;
    right: 280px;
  }
  .section--devices .devices .devices__item--iphone {
    width: 135px;
    top: 130px;
    right: 205px;
  }
  .about-service .about-service__item {
    margin-right: 20px;
  }
  .about-service .about-service__item:last-child {
    margin-right: 0;
  }
  .about-service .about-service__item .accordion__header {
    padding: 25px 100px 25px 100px;
  }
  .about-service .about-service__item .accordion__header .accordion__about {
    font-size: 18px;
    line-height: 21px;
  }
  .about-service .about-service__item .accordion__content {
    display: none;
    padding: 11px 78px 11px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  .section--gray {
    padding: 32px 0 42px;
  }
  .section--gray .reviews__item {
    padding-left: 160px;
  }
  .section--gray .reviews__item .reviews__photo {
    width: 115px;
  }
  .section--gray .reviews__item .reviews__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 28px;
  }
  .section--gray .reviews__item .reviews__author {
    font-size: 24px;
    line-height: 35px;
  }
  .team-card {
    display: none;
  }
  .works .works__col .works__item .works__info .works__title {
    font-size: 18px;
    line-height: 21px;
  }
  .works .works__col .works__item .works__info .works__text {
    font-size: 14px;
    line-height: 16px;
  }
  .reviews .reviews__item {
    padding-left: 160px;
  }
  .reviews .reviews__item .reviews__photo {
    width: 115px;
  }
  .reviews .reviews__item .reviews__text {
    font-size: 18px;
    line-height: 21px;
  }
  .reviews .reviews__item .reviews__author {
    font-size: 24px;
    line-height: 35px;
  }
  .section--clients {
    height: 655px;
  }
  .section--clients .clients .clients__item {
    padding: 0 25px 0 120px;
  }
  .section--clients .clients .clients__item .clients__photo {
    width: 88px;
  }
  .section--clients .clients .clients__item .clients__content .clients__name {
    font-size: 18px;
    line-height: 21px;
  }
  .section--clients .clients .clients__item .clients__content .clients__prof {
    font-size: 14px;
    line-height: 16px;
  }
  .section--clients .clients .clients__item .clients__content .clients__text {
    font-size: 14px;
    line-height: 16px;
  }
  .section--clients .clients .clients__item .clients__content .clients__text:before {
    width: 47px;
    margin: 20px 0;
  }
  .blog {
    padding: 0 15px;
  }
  .blog .blog__item .blog__content .blog__title {
    font-size: 18px;
    line-height: 21px;
  }
  .blog .blog__item .blog__content .blog__text {
    font-size: 14px;
    line-height: 16px;
  }
  .section--map .map .map__text .map__icon {
    padding-bottom: 20px;
  }
  .section--map .map .map__text a {
    font-size: 24px;
    line-height: 28px;
  }
  .footer {
    padding-top: 15px;
  }
  .footer .footer__inner {
    padding-bottom: 50px;
  }
  .footer .footer__inner .footer__com--first {
    width: 317px;
  }
  .footer .footer__inner .footer__com--first .footer__logo {
    font-size: 10px;
  }
  .footer .footer__inner .footer__com--first .footer__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-header {
    font-size: 14px;
    line-height: 26px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-header b {
    font-size: 30px;
    font-style: normal;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-header:after {
    margin: 10px 0;
    width: 317px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content {
    margin-bottom: 30px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content a {
    margin-right: 3px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content .social-content__item {
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe {
    min-width: 317px;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input {
    padding: 5px 4px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__button {
    height: 37px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--second {
    width: 402px;
  }
  .footer .footer__inner .footer__com--second .footer__title {
    margin-top: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item {
    margin-bottom: 13px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__item__img {
    max-width: 115px;
    height: 79px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content {
    padding-left: 18px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content a {
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content div {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer .footer__inner .footer__com--third {
    width: 233px;
  }
  .footer .footer__inner .footer__com--third .footer__title {
    margin-top: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
  }
  .footer .footer__inner .footer__com--third .instagram {
    margin-bottom: 30px;
  }
  .footer .footer__inner .footer__com--third .instagram .instagram__item {
    width: 71px;
    height: 72px;
  }
  .footer .footer__inner .footer__com--third .instagram__about a {
    font-size: 12px;
    line-height: 14px;
  }
  .footer .copyright:before {
    width: 100%;
  }
}
@media only screen and (max-device-width: 730px) {
  .header {
    padding: 20px;
  }
  .header .header__inner .header__logo {
    margin-top: 6px;
    font-size: 19px;
  }
  .header .header__inner .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eb8b8d;
  }
  .header .header__inner .nav .nav__link {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 20px 20px;
  }
  .header .header__inner .nav .nav__link--search {
    display: none;
  }
  .header .header__inner .nav__burger-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    display: block;
    width: 30px;
    padding: 10px 0;
  }
  .header .header__inner .nav__burger-menu .burger-menu__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: -5px;
    margin: auto;
  }
  .header .header__inner .nav__burger-menu .burger-menu__item:before, .header .header__inner .nav__burger-menu .burger-menu__item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    left: 0;
    z-index: 1;
  }
  .header .header__inner .nav__burger-menu .burger-menu__item:before {
    top: -8px;
  }
  .header .header__inner .nav__burger-menu .burger-menu__item:after {
    bottom: -8px;
  }
  .banner .banner__inner {
    padding-top: 90px;
    width: 100%;
  }
  .banner .banner__inner .banner__subtitle {
    font-size: 36px;
    line-height: 52px;
  }
  .banner .banner__inner .banner__title {
    font-size: 48px;
    line-height: 59px;
  }
  .banner .banner__inner .banner__title:after {
    width: 134px;
    height: 4px;
  }
  .banner .banner__slider {
    margin-top: 50px;
  }
  .banner .banner__slider .slider__item {
    width: 57px;
    margin: 0;
  }
  .banner .banner__slider .slider__item .slider__item__num {
    display: none;
  }
  .banner .banner__slider .slider__item .slider__item__text {
    display: none;
  }
  .banner .banner__slider .active:before {
    width: 57px;
  }
  .section {
    padding: 25px 0 55px;
  }
  .section .section__header .section__title:after {
    width: 134px;
    margin: 25px auto 20px;
  }
  .section .section__header .section__text {
    margin: 0 auto 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .section .about-us__item {
    flex-wrap: wrap;
    background: none;
    margin: 0 auto 16px;
  }
  .section .about-us__item .about-us__img {
    position: relative;
  }
  .section .about-us__item .about-us__img::after {
    content: "";
    position: absolute;
    top: 68%;
    left: 0;
    width: 282.422px;
    height: 83px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    z-index: 2;
  }
  .section .about-us__img {
    background: none;
    margin: 0 auto;
  }
  .section .about-us__img img {
    max-width: 288px;
    height: 258px;
  }
  .section .about-us__icon {
    width: 100%;
    position: absolute;
    top: 85%;
    left: -105px;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
    opacity: 1;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  .section .about-us__text {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
    opacity: 1;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  .statistical-date .statistics {
    justify-content: center;
  }
  .statistical-date .statistics .statistics__item {
    flex: none;
    width: 50%;
    padding: 24px 9px;
    border-left: 0;
  }
  .statistical-date .statistics .statistics__item:last-child {
    border-right: 0;
  }
  .statistical-date .statistics .statistics__count {
    font-size: 48px;
    line-height: 56px;
  }
  .statistical-date .statistics .statistics__text {
    font-size: 22px;
    line-height: 26px;
  }
  .services {
    margin: 60px 0 30px;
  }
  .services .services__item {
    margin-bottom: 40px;
  }
  .services .services__item .services__icon {
    width: 50px;
  }
  .services .services__item .services__name {
    margin-bottom: 5px;
  }
  .services__2 .services__item {
    margin-bottom: 40px;
  }
  .services__2 .services__item .services__icon {
    width: 50px;
  }
  .services__2 .services__item .services__name {
    margin-bottom: 5px;
  }
  .section--devices {
    height: 444px;
  }
  .section--devices .devices .devices__item--ipad1 {
    max-width: 486px;
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
  }
  .section--devices .devices .devices__item--ipad2 {
    max-width: 266px;
    height: 346px;
    position: absolute;
    top: -64px;
    right: 10px;
  }
  .section--devices .devices .devices__item--iphone {
    width: 85px;
    position: absolute;
    top: 100px;
    right: -10px;
  }
  .about-service {
    display: flex;
    flex-wrap: wrap;
  }
  .about-service .about-service__item {
    width: 100%;
    margin: 0;
  }
  .about-service .about-service__item .accordion__header {
    padding: 15px 20px 15px 65px;
  }
  .about-service .about-service__item .accordion__header .accordion__icon {
    width: 30px;
  }
  .about-service .about-service__item .accordion__header .accordion__about {
    font-size: 14px;
    line-height: 16px;
  }
  .about-service .about-service__item .accordion__header i {
    left: 87%;
    border-width: 0 1px 1px 0;
    padding: 8px;
  }
  .about-service .about-service__item .accordion__content {
    padding: 10px 30px 10px 20px;
    font-size: 13px;
    line-height: 15px;
  }
  .section--gray {
    padding: 32px 0 42px;
  }
  .section--gray .reviews {
    padding: 0;
  }
  .section--gray .reviews .reviews__btn--prev {
    display: none;
  }
  .section--gray .reviews .reviews__btn--next {
    display: none;
  }
  .section--gray .reviews .reviews__item {
    padding-left: 0;
  }
  .section--gray .reviews .reviews__item .reviews__photo {
    display: none;
  }
  .section--gray .reviews .reviews__item .reviews__text {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 28px;
  }
  .section--gray .reviews .reviews__item .reviews__author {
    font-size: 24px;
    line-height: 35px;
  }
  .section--gray .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section--gray .logos .logos__item {
    width: 40%;
  }
  .works {
    flex-wrap: wrap-reverse;
  }
  .works .works__col {
    flex: none;
    width: 50%;
  }
  .works .works__col .works__item .works__info {
    display: none;
  }
  .reviews {
    padding: 0;
  }
  .reviews .reviews__btn--prev {
    display: none;
  }
  .reviews .reviews__btn--next {
    display: none;
  }
  .reviews .reviews__item {
    padding-left: 0;
  }
  .reviews .reviews__item .reviews__photo {
    position: static;
    margin: 0 auto 40px;
  }
  .reviews .reviews__item .reviews__text {
    font-size: 14px;
    line-height: 16px;
  }
  .reviews .reviews__item .reviews__author {
    font-size: 18px;
    line-height: 26px;
  }
  .section--clients {
    height: 1500px;
  }
  .section--clients .clients .clients__item {
    padding: 10px 0 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .section--clients .clients .clients__item .clients__photo {
    position: static;
    margin-bottom: 10px;
  }
  .section--clients .clients .clients__item .clients__content {
    margin-bottom: 30px;
  }
  .section--clients .clients .clients__item .clients__content .clients__text:before {
    width: 134px;
    margin: 20px auto;
  }
  .blog {
    padding: 0;
  }
  .blog .blog__item {
    width: 100%;
    margin-right: 0;
  }
  .blog .blog__item .blog__header {
    margin-bottom: 26px;
  }
  .blog .blog__item .blog__header .blog__date {
    position: absolute;
    bottom: 25px;
    left: 0;
  }
  .blog .blog__item .blog__content .blog__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 21px;
  }
  .blog .blog__item .blog__content .blog__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .blog .blog__item .blog__footer {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer .footer__inner .footer__com--first {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .footer .footer__inner .footer__com--first .footer__logo {
    margin: 0 70px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-header:after {
    width: 100%;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content {
    margin-bottom: 30px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content a {
    width: 16px;
    margin-right: 6px;
  }
  .footer .footer__inner .footer__com--first .footer__social .footer__social-content .social-content__item {
    margin-right: 15px;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe {
    flex-wrap: wrap;
    max-width: none;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__input {
    width: 100%;
    padding: 6px 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--first .footer__social .subscribe .subscribe__button {
    width: 100%;
    height: 37px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--second {
    width: 100%;
  }
  .footer .footer__inner .footer__com--second .footer__title {
    margin-top: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item {
    margin-bottom: 13px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__item__img {
    max-width: 115px;
    height: 79px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content {
    padding-left: 18px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content a {
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__inner .footer__com--second .blogs .blogs__item .blogs__content div {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer .footer__inner .footer__com--third {
    width: 100%;
  }
  .footer .footer__inner .footer__com--third .footer__title {
    margin-top: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
  }
  .footer .footer__inner .footer__com--third .instagram {
    margin-bottom: 30px;
  }
  .footer .footer__inner .footer__com--third .instagram .instagram__item {
    width: 71px;
    height: 72px;
  }
  .footer .footer__inner .footer__com--third .instagram__about a {
    font-size: 12px;
    line-height: 14px;
  }
  .footer .copyright:before {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */